.WidePinkButton {
  background-color: #f08080;
  color: white;
  border: none;
  cursor: pointer;
  width: 220px;
  margin-top: 30px;
  font-size: 14px;
  padding: 10px 20px;
  transition: 0.5s;
}

.WidePinkButton:hover {
  background-color: rgba(240, 128, 128, 0.7);
}

.LinkElement {
  color: #f08080;
  text-decoration: none;
}

.LinkElement:hover {
  text-decoration: underline;
}

.AddButton {
  background-color: #f08080;
  color: white;
  border: none;
  cursor: pointer;
  width: 220px;
  margin-top: 20px;
  font-size: 14px;
  padding: 10px 20px;
  transition: 0.5s;
  border-radius: 5px;
  text-decoration: none;
}

.AddButton:hover {
  background-color: rgba(240, 128, 128, 0.7);
}
