.Yarn {
  background-color: #fce6e6;
  height: 100%;
  text-align: center;
  letter-spacing: 1px;
}

.Yarn .YarnContainer {
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 25px;
  padding: 40px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.Yarn .SideBarContent {
  grid-column: 1;
  background-color: white;
  border-radius: 8px;
  padding: 20px 40px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}

.Sidebar .AddYarn {
  padding: 20px 0 40px 0;
}

.Sidebar .ButtonCreateProject {
  margin-top: 20px;
}

.MainYarnContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.DisplayYarn {
  background-color: white;
  border-radius: 8px;
  padding: 20px 40px 40px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.DisplayYarn img {
  width: 60%;
  height: auto;
  border-radius: 50%;
  border: 5px solid #fce6e6;
  margin: 20px 0;
  transition: transform 0.3s;
}

.DisplayYarn img:hover {
  transform: scale(1.5);
}

.DisplayYarn .ProjectText {
  padding-bottom: 10px;
}
