.Projects {
  background-color: #fce6e6;
  height: 100%;
  text-align: center;
  letter-spacing: 1px;
}

.Projects .ProjectsContainer {
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 25px;
  padding: 40px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.Sidebar .CreateProject {
  padding: 20px 0 40px 0;
}

.Projects .SideBarContent {
  grid-column: 1;
  background-color: white;
  border-radius: 8px;
  padding: 20px 40px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}

.MainProjectsContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.DisplayProjects {
  background-color: white;
  border-radius: 8px;
  padding: 20px 40px 40px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.DisplayProjects img {
  width: 60%;
  height: auto;
  border-radius: 50%;
  margin: 20px;
  border: 5px solid #fce6e6;
  transition: transform 0.3s;
}

.DisplayProjects img:hover {
  transform: scale(1.5);
}

.MainProjectFormContent {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.ProjectForm {
  background-color: white;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ProjectForm .FormContainer {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding-bottom: 20px;
}

.ProjectForm .FormSectionTitles {
  padding-left: 30px;
  margin-top: 20px;
}

.ProjectForm .FormSectionYarnName {
  padding-bottom: 20px;
}

.ProjectForm .FormInputText {
  margin-top: 10px;
}

.ProjectForm .Left {
  text-align: left;
}
