.Projects {
  background-color: #fce6e6;
  height: 100%;
  text-align: center;
  letter-spacing: 1px;
}

.Projects .ProjectsContainer {
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 25px;
  padding: 40px 0;
  max-width: 1200px;

  margin: 0 auto;
}

.Sidebar .CreateProject {
  padding: 40px 0;
}

.CreateProject p {
  margin-bottom: 20px;
}

.CreateProject a {
  background-color: #f08080;
  color: white;
  border: none;
  cursor: pointer;
  width: 220px;
  margin-top: 20px;
  font-size: 14px;
  padding: 10px 20px;
  transition: 0.5s;
  border-radius: 5px;
  text-decoration: none;
}

.CreateProject .Button:hover {
  background-color: rgba(240, 128, 128, 0.7);
}

.Projects .SideBarContent {
  grid-column: 1;
  background-color: white;
  border-radius: 8px;
  padding: 20px 40px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}

.MainProjectsContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.TextFont {
  font-family: "Raleway", sans-serif;
}

.DisplayProjects {
  background-color: white;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.DisplayProjects h2 {
  padding: 20px 0 5px 0;
}

.DisplayProjects h4 {
  padding-bottom: 20px;
}

.DisplayProjects img {
  width: 60%;
  height: auto;
  border-radius: 50%;
  margin: 20px;
  border: 5px solid #fce6e6;
}

.DisplayProjects .ProjectText {
  padding-bottom: 10px;
}

.DisplayProjects .Left {
  text-align: left;
}

.DisplayProjects .Strong {
  font-weight: bold;
}

.DisplayNeedleSizes {
  padding-left: 20px;
}

.DisplayYarns {
  padding-left: 20px;
}

.MainProjectFormContent {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.ProjectForm {
  background-color: white;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ProjectForm h1 {
  padding: 20px 0;
}

.ProjectForm .FormContainer {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding-bottom: 20px;
}

.ProjectForm .FormSectionTitles {
  padding-left: 30px;
  margin-top: 20px;
}

.ProjectForm .FormSectionYarnName {
  padding-bottom: 20px;
}

.ProjectForm .FormTitles {
  margin-top: 20px;
}

.ProjectForm .FormInputText {
  margin-top: 10px;
}

.ProjectForm .Left {
  text-align: left;
}

.ProjectForm .Strong {
  font-weight: bold;
}

.ProjectForm input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.ProjectForm input {
  padding: 10px;
  width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 8px;
}

.ProjectForm .SubmitButton {
  background-color: #f08080;
  color: white;
  border: none;
  cursor: pointer;
  width: 220px;
  margin-top: 30px;
  font-size: 14px;
  padding: 10px 20px;
  transition: 0.5s;
  margin-bottom: 20px;
}

.ProjectForm .SubmitButton:hover {
  background-color: rgba(240, 128, 128, 0.7);
}
