.Projects {
  background-color: #fce6e6;
  height: 100%;
  text-align: center;
  letter-spacing: 1px;
}

.Projects .ProjectsContainer {
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 25px;
  padding: 40px 0;
  max-width: 1200px;

  margin: 0 auto;
}

.Sidebar .CreateProject {
  padding: 20px 0;
}

.CreateProject .Button {
  background-color: #f08080;
  color: white;
  border: none;
  cursor: pointer;
  width: 220px;
  margin-top: 10px;
  font-size: 14px;
  padding: 10px;
  transition: 0.5s;
  border-radius: 5px;
}

.CreateProject .Button:hover {
  background-color: rgba(240, 128, 128, 0.7);
}

.Projects .SideBarContent {
  grid-column: 1;
  background-color: white;
  border-radius: 8px;
  padding: 20px 40px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}

.MainProjectsContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.TextFont {
  font-family: "Raleway", sans-serif;
}

.DisplayProjects {
  background-color: white;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.DisplayProjects h2 {
  padding: 20px 0 5px 0;
}

.DisplayProjects h4 {
  padding-bottom: 20px;
}

.DisplayProjects img {
  width: 60%;
  height: auto;
  border-radius: 50%;
  margin: 20px;
  border: 5px solid #fce6e6;
}

.DisplayProjects .ProjectText {
  padding-bottom: 10px;
}

.DisplayProjects .Left {
  text-align: left;
}

.DisplayProjects .Strong {
  font-weight: bold;
}

.DisplayNeedleSizes {
  padding-left: 20px;
}

.DisplayYarns {
  padding-left: 20px;
}
