.Sidebar h2 {
  padding: 20px 0;
  text-align: center;
}

.Sidebar img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 5px solid #f08080;
  margin-bottom: 50px;
}

.Sidebar .SidebarPrjoectsSection {
  padding: 10px 0 40px 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.Sidebar .ProjectStatusNumber {
  text-align: right;
}

.Sidebar .SidebarLinksSection {
  padding-top: 40px;
}

.TextFont {
  font-family: "Raleway", sans-serif;
}

.Sidebar .Strong {
  font-weight: bold;
}

.Sidebar .Link {
  text-decoration: none;
  color: #f08080;
}

.Sidebar .Link:hover {
  text-decoration: underline;
}

.Sidebar hr {
  height: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid white;
}
